In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/bank-additional-full (3).csv",sep=";")

In [ ]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56.0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57.0,services,married,high.school,unknown,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37.0,services,married,high.school,no,yes,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40.0,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56.0,services,married,high.school,no,no,yes,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41194,74.0,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3.0,999.0,1.0,failure,-1.1,94.767,-50.8,1.028,4963.6,no
41195,74.0,NaN,married,professional.course,no,yes,no,cellular,nov,fri,...,3.0,999.0,1.0,failure,-1.1,94.767,-50.8,1.028,4963.6,no
41196,74.0,retired,married,NaN,no,yes,no,cellular,nov,fri,...,3.0,999.0,1.0,failure,-1.1,94.767,-50.8,1.028,4963.6,no
41197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41198,74.0,retired,married,professional.course,no,yes,NaN,cellular,nov,fri,...,3.0,999.0,1.0,failure,-1.1,NaN,-50.8,1.028,4963.6,no

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41199 entries, 0 to 41198
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41195 non-null  float64
 1   job             41194 non-null  object
 2   marital         41194 non-null  object
 3   education       41194 non-null  object
 4   default         41195 non-null  object
 5   housing         41196 non-null  object
 6   loan            41195 non-null  object
 7   contact         41195 non-null  object
 8   month           41196 non-null  object
 9   day_of_week     41196 non-null  object
 10  duration        41196 non-null  float64
 11  campaign        41196 non-null  float64
 12  pdays           41196 non-null  float64
 13  previous        41196 non-null  float64
 14  poutcome        41194 non-null  object
 15  emp.var.rate    41196 non-null  float64
 16  cons.price.idx  41195 non-null  float64
 17  cons.conf.idx   41196 non-null  float64
 18  euribor3m       41196 non-null  float64
 19  nr.employed     41196 non-null  float64
 20  y               41196 non-null  object
dtypes: float64(10), object(11)
memory usage: 6.6+ MB

In [ ]:
data.isnull().sum()

age               4
job               5
marital           5
education         5
default           4
housing           3
loan              4
contact           4
month             3
day_of_week       3
duration          3
campaign          3
pdays             3
previous          3
poutcome          5
emp.var.rate      3
cons.price.idx    4
cons.conf.idx     3
euribor3m         3
nr.employed       3
y                 3
dtype: int64

In [ ]:
data.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41195.000000,41196.000000,41196.000000,41196.000000,41196.000000,41196.000000,41195.000000,41196.000000,41196.000000,41196.000000
mean,40.030319,258.281265,2.567676,962.482547,0.173124,0.081656,93.575867,-40.504600,3.620787,5166.996405
std,10.431818,259.254211,2.769751,186.893451,0.494987,1.570894,0.578999,4.629972,1.734655,72.300104
min,17.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.000000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [ ]:
# shape defines the number of rows and columns
# 41199 -> rows
# 21 -> columns
data.shape

(41199, 21)

In [ ]:
data.dtypes

age               float64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration          float64
campaign          float64
pdays             float64
previous          float64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [ ]:
c = data['marital'].value_counts()

In [ ]:
c

marital
married     24934
single      11568
divorced     4612
unknown        80
Name: count, dtype: int64

In [ ]:

col = list(data.columns)

In [ ]:
col

['age',
 'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed',
 'y']

**Box Plot**

In [ ]:
data["pdays"]

0        999.0
1        999.0
2        999.0
3        999.0
4        999.0
         ...
41194    999.0
41195    999.0
41196    999.0
41197      NaN
41198    999.0
Name: pdays, Length: 41199, dtype: float64

Using box plot visualiation we will be able to detect the outliers from a given dataset

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
for col_name in col:
  if(data[col_name].dtypes == 'int64' or data[col_name].dtypes == 'float64'):
    sns.boxplot(data[col_name])
    plt.xlabel(col_name)
    plt.ylabel("Count")
    plt.show() # pd.to_numeric().str.replace(",","")

With reference of the above plot we can say that there are columns with out liers                  
1.Age                            
2.Duration                                    
3.Campaign                                     
4.con.conf.idx

In [ ]:
col_name = ['age','duration','campaign','cons.conf.idx']

In [ ]:
Q1 = data.age.quantile(0.25)
Q3 = data.age.quantile(0.75)
IQR = Q3 - Q1
data = data[(data.age >= Q1-1.5 * IQR) & (data.age <= Q3 + 1.5 * IQR)]

In [ ]:
Q1 = data.duration.quantile(0.25)
Q3 = data.duration.quantile(0.75)
IQR = Q3 - Q1
data = data[(data.duration >= Q1-1.5 * IQR) & (data.duration <= Q3 + 1.5 * IQR)]

In [ ]:
Q1 = data.campaign.quantile(0.25)
Q3 = data.campaign.quantile(0.75)
IQR = Q3 - Q1
data = data[(data.campaign >= Q1-1.5 * IQR) & (data.campaign <= Q3 + 1.5 * IQR)]

In [ ]:
Q1 = data['cons.conf.idx'].quantile(0.25)
Q3 = data['cons.conf.idx'].quantile(0.75)
IQR = Q3 - Q1
data = data[(data['cons.conf.idx'] >= Q1-1.5 * IQR) & (data['cons.conf.idx'] <= Q3 + 1.5 * IQR)]

In [ ]:
for col_name in col:
  if(data[col_name].dtypes == 'int64' or data[col_name].dtype == 'float64'):
    sns.boxplot(data[col_name])
    plt.xlabel(col_name)
    plt.ylabel("count")
    plt.show()

In [ ]:
data.isnull()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41181,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41182,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41184,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41185,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
41186,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
data.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [ ]:
data.isnull().sum().sum()

0

In [ ]:
data['y'].unique()

array(['no', 'yes'], dtype=object)

In [ ]:
data['y'] = np.where(data['y'] == 'yes',1,0)

In [ ]:
data['y'] = data['y'].astype(str)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35176 entries, 0 to 41186
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             35176 non-null  float64
 1   job             35176 non-null  object
 2   marital         35176 non-null  object
 3   education       35176 non-null  object
 4   default         35176 non-null  object
 5   housing         35176 non-null  object
 6   loan            35176 non-null  object
 7   contact         35176 non-null  object
 8   month           35176 non-null  object
 9   day_of_week     35176 non-null  object
 10  duration        35176 non-null  float64
 11  campaign        35176 non-null  float64
 12  pdays           35176 non-null  float64
 13  previous        35176 non-null  float64
 14  poutcome        35176 non-null  object
 15  emp.var.rate    35176 non-null  float64
 16  cons.price.idx  35176 non-null  float64
 17  cons.conf.idx   35176 non-null  float64
 18  euribor3m       35176 non-null  float64
 19  nr.employed     35176 non-null  float64
 20  y               35176 non-null  object
dtypes: float64(10), object(11)
memory usage: 5.9+ MB

In [ ]:
data['y'].unique()

array(['0', '1'], dtype=object)

In [ ]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56.0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57.0,services,married,high.school,unknown,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37.0,services,married,high.school,no,yes,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40.0,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56.0,services,married,high.school,no,no,yes,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41181,37.0,admin.,married,university.degree,no,yes,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41182,29.0,unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1.0,9.0,1.0,success,-1.1,94.767,-50.8,1.028,4963.6,0
41184,46.0,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41185,56.0,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41186,44.0,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0

In [ ]:
# data
bins = [0,50,100]
data['age'] = pd.cut(data['age'], bins)
data['age'] = data.age.astype(str)

In [ ]:
data['age'].value_counts()

age
(0, 50]      29410
(50, 100]     5766
Name: count, dtype: int64

In [ ]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,"(50, 100]",housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,"(50, 100]",services,married,high.school,unknown,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,"(0, 50]",services,married,high.school,no,yes,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,"(0, 50]",admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,"(50, 100]",services,married,high.school,no,no,yes,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41181,"(0, 50]",admin.,married,university.degree,no,yes,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1
41182,"(0, 50]",unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1.0,9.0,1.0,success,-1.1,94.767,-50.8,1.028,4963.6,0
41184,"(0, 50]",blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41185,"(50, 100]",retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41186,"(0, 50]",technician,married,professional.course,no,no,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1

In [ ]:
col_list = list(data.columns)

In [ ]:
col_list

['age',
 'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed',
 'y']

In [ ]:
data.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [ ]:
for col in col_list:
  if data[col].dtypes == 'object':
    data[col] = data[col].fillna(data[col].mode()[0])
  else:
    data[col] = data[col].fillna(data[col].mean())

In [ ]:
data["marital"].mode()[1]
# 0 Married
# 1 single

# op- single

marital
married     21283
single       9951
divorced     3882
unknown        60
Name: count, dtype: int64

In [ ]:
f=[2,1,1,2,2,1,1,2,1,3,3,3,3]
#1-5
#2-4
#3-4

import statistics as stats
import numpy as np
stats.multimode(f)

[1]

In [ ]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,"(50, 100]",housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,"(50, 100]",services,married,high.school,unknown,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,"(0, 50]",services,married,high.school,no,yes,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,"(0, 50]",admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,"(50, 100]",services,married,high.school,no,no,yes,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41181,"(0, 50]",admin.,married,university.degree,no,yes,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41182,"(0, 50]",unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1.0,9.0,1.0,success,-1.1,94.767,-50.8,1.028,4963.6,0
41184,"(0, 50]",blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41185,"(50, 100]",retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41186,"(0, 50]",technician,married,professional.course,no,no,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0

In [ ]:
data.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [ ]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,"(50, 100]",housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,"(50, 100]",services,married,high.school,unknown,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,"(0, 50]",services,married,high.school,no,yes,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,"(0, 50]",admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,"(50, 100]",services,married,high.school,no,no,yes,telephone,may,mon,...,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41181,"(0, 50]",admin.,married,university.degree,no,yes,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1
41182,"(0, 50]",unemployed,single,basic.4y,no,yes,no,cellular,nov,fri,...,1.0,9.0,1.0,success,-1.1,94.767,-50.8,1.028,4963.6,0
41184,"(0, 50]",blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41185,"(50, 100]",retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41186,"(0, 50]",technician,married,professional.course,no,no,no,cellular,nov,fri,...,1.0,999.0,0.0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1

In [ ]:
col_list = list(data.columns)

In [ ]:
col_list

['age',
 'job',
 'marital',
 'education',
 'default',
 'housing',
 'loan',
 'contact',
 'month',
 'day_of_week',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed',
 'y']

In [ ]:
data.corr()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
age,1.000000,0.018693,-0.217842,-0.053887,0.112316,0.002029,-0.001394,-0.008225,-0.032128,-0.016159,...,0.007627,-0.031604,0.011889,0.021710,0.015283,0.003640,0.070460,-0.019133,-0.003854,0.034820
job,0.018693,1.000000,0.032009,0.142164,-0.031404,0.007729,-0.012562,-0.022038,-0.036804,0.000439,...,-0.009144,-0.025779,0.019059,0.010609,0.005009,-0.007558,0.051226,-0.014607,-0.014585,0.023445
marital,-0.217842,0.032009,1.000000,0.106351,-0.083085,0.013374,0.005184,-0.064249,-0.012637,0.006164,...,-0.010989,-0.046495,0.048136,0.004515,-0.096574,-0.063237,-0.025541,-0.101845,-0.099576,0.064609
education,-0.053887,0.142164,0.106351,1.000000,-0.193667,0.013629,0.003919,-0.111512,-0.088072,-0.020252,...,-0.001032,-0.056305,0.043607,0.020355,-0.040182,-0.088333,0.092583,-0.077267,-0.053385,0.084419
default,0.112316,-0.031404,-0.083085,-0.193667,1.000000,-0.013711,0.000424,0.130599,-0.012941,-0.006170,...,0.023948,0.080311,-0.102399,0.022553,0.184737,0.157755,0.036628,0.192114,0.172134,-0.112270
housing,0.002029,0.007729,0.013374,0.013629,-0.013711,1.000000,0.043062,-0.083409,-0.020644,0.001364,...,-0.009499,-0.009149,0.021207,-0.013941,-0.055338,-0.079332,-0.030830,-0.042432,-0.034464,0.014863
loan,-0.001394,-0.012562,0.005184,0.003919,0.000424,0.043062,1.000000,-0.006589,-0.002517,-0.010452,...,0.012381,-0.001347,0.001015,-0.003591,-0.000869,-0.001420,-0.008456,0.001765,0.001488,-0.007227
contact,-0.008225,-0.022038,-0.064249,-0.111512,0.130599,-0.083409,-0.006589,1.000000,0.292798,-0.007854,...,0.043516,0.113789,-0.214704,0.126418,0.353733,0.602853,0.279553,0.275855,0.164902,-0.145125
month,-0.032128,-0.036804,-0.012637,-0.088072,-0.012941,-0.020644,-0.002517,0.292798,1.000000,0.036219,...,-0.033799,-0.031333,0.092882,-0.069213,-0.144167,0.034230,-0.068547,-0.153813,-0.232650,-0.022350
day_of_week,-0.016159,0.000439,0.006164,-0.020252,-0.006170,0.001364,-0.010452,-0.007854,0.036219,1.000000,...,-0.052148,-0.011763,-0.002964,0.018538,0.037672,0.002614,0.034219,0.025984,0.025629,0.013193
duration,0.010198,-0.010379,0.008659,-0.018127,-0.014195,-0.011946,-0.009530,-0.030950,0.006749,0.028636,...,-0.056893,-0.069256,0.045916,0.037574,-0.057279,-0.000607,0.003502,-0.070917,-0.085614,0.268697
campaign,0.007627,-0.009144,-0.010989,-0.001032,0.023948,-0.009499,0.012381,0.043516,-0.033799,-0.052148,...,1.000000,0.042391,-0.057014,0.020338,0.082355,0.064632,-0.009415,0.080255,0.085376,-0.054587
pdays,-0.031604,-0.025779,-0.046495,-0.056305,0.080311,-0.009149,-0.001347,0.113789,-0.031333,-0.011763,...,0.042391,1.000000,-0.566180,-0.477578,0.245928,0.072944,-0.092731,0.383493,0.372318,-0.375669
previous,0.011889,0.019059,0.048136,0.043607,-0.102399,0.021207,0.001015,-0.214704,0.092882,-0.002964,...,-0.057014,-0.566180,1.000000,-0.340554,-0.405349,-0.192953,-0.052359,-0.497037,-0.498992,0.264926
poutcome,0.021710,0.010609,0.004515,0.020355,0.022553,-0.013941,-0.003591,0.126418,-0.069213,0.018538,...,0.020338,-0.477578,-0.340554,1.000000,0.208329,0.216031,0.183744,0.105330,0.095662,0.148726
emp.var.rate,0.015283,0.005009,-0.096574,-0.040182,0.184737,-0.055338,-0.000869,0.353733,-0.144167,0.037672,...,0.082355,0.245928,-0.405349,0.208329,1.000000,0.738039,0.220415,0.865249,0.837729,-0.321340
cons.price.idx,0.003640,-0.007558,-0.063237,-0.088333,0.157755,-0.079332,-0.001420,0.602853,0.034230,0.002614,...,0.064632,0.072944,-0.192953,0.216031,0.738039,1.000000,0.066478,0.521200,0.380710,-0.142933
cons.conf.idx,0.070460,0.051226,-0.025541,0.092583,0.036628,-0.030830,-0.008456,0.279553,-0.068547,0.034219,...,-0.009415,-0.092731,-0.052359,0.183744,0.220415,0.066478,1.000000,-0.023937,0.006288,0.065095
euribor3m,-0.019133,-0.014607,-0.101845,-0.077267,0.192114,-0.042432,0.001765,0.275855,-0.153813,0.025984,...,0.080255,0.383493,-0.497037,0.105330,0.865249,0.521200,-0.023937,1.000000,0.913334,-0.420524
nr.employed,-0.003854,-0.014585,-0.099576,-0.053385,0.172134,-0.034464,0.001488,0.164902,-0.232650,0.025629,...,0.085376,0.372318,-0.498992,0.095662,0.837729,0.380710,0.006288,0.913334,1.000000,-0.407678
y,0.034820,0.023445,0.064609,0.084419,-0.112270,0.014863,-0.007227,-0.145125,-0.022350,0.013193,...,-0.054587,-0.375669,0.264926,0.148726,-0.321340,-0.142933,0.065095,-0.420524,-0.407678,1.000000

In [ ]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

In [ ]:
for i in col_list:
  data[i] = labelencoder.fit_transform(data[i])

In [ ]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,1,3,1,0,0,0,0,1,6,1,...,0,26,0,1,8,17,16,278,8,0
1,1,7,1,3,1,0,0,1,6,1,...,0,26,0,1,8,17,16,278,8,0
2,0,7,1,3,0,2,0,1,6,1,...,0,26,0,1,8,17,16,278,8,0
3,0,0,1,1,0,0,0,1,6,1,...,0,26,0,1,8,17,16,278,8,0
4,1,7,1,3,0,0,2,1,6,1,...,0,26,0,1,8,17,16,278,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41181,0,0,1,6,0,2,0,0,7,0,...,0,26,0,1,5,24,0,162,0,0
41182,0,10,2,0,0,2,0,0,7,0,...,0,9,1,2,5,24,0,162,0,0
41184,0,1,1,5,0,0,0,0,7,0,...,0,26,0,1,5,24,0,162,0,0
41185,1,5,1,6,0,2,0,0,7,0,...,1,26,0,1,5,24,0,162,0,0
41186,0,9,1,5,0,0,0,0,7,0,...,0,26,0,1,5,24,0,162,0,0

**VIF**

VIF , variance inflation factor - Generally we calculate the correlation amongst all the columns ,dropping the columns having values grrater than 6

In [ ]:
#VIF equal to 1 = variables are not correlated

#VIF between 1 and 5 = variables are moderately correlated

#VIF greater than 5 = variables are highly correlated

In [ ]:




x = data[col_list]


vif_data = pd.DataFrame()
vif_data["Feature"] = x.columns
vif_data["VIF"] = [variance_inflation_factor(x.values,i) for i in range(len(x.columns))]
print(vif_data)

           Feature         VIF
0              age    1.281123
1              job    2.100900
2          marital    5.060092
3        education    4.528288
4          default    1.387286
5          housing    2.208760
6             loan    1.207525
7          contact    4.679143
8            month    5.586040
9      day_of_week    3.091161
10        duration    3.229061
11        campaign    1.691347
12           pdays   68.802381
13        previous    2.071049
14        poutcome   12.129842
15    emp.var.rate  161.131066
16  cons.price.idx   67.337705
17   cons.conf.idx   10.218119
18       euribor3m  145.984185
19     nr.employed  146.514675

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor


col_list = []

for col in data.columns:
  if((data[col].dtype != 'object') & (col != 'y')):
    col_list.append(col)

In [ ]:
x = data[col_list]
x

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,1,3,1,0,0,0,0,1,6,1,261,0,26,0,1,8,17,16,278,8
1,1,7,1,3,1,0,0,1,6,1,149,0,26,0,1,8,17,16,278,8
2,0,7,1,3,0,2,0,1,6,1,226,0,26,0,1,8,17,16,278,8
3,0,0,1,1,0,0,0,1,6,1,151,0,26,0,1,8,17,16,278,8
4,1,7,1,3,0,0,2,1,6,1,307,0,26,0,1,8,17,16,278,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41181,0,0,1,6,0,2,0,0,7,0,281,0,26,0,1,5,24,0,162,0
41182,0,10,2,0,0,2,0,0,7,0,112,0,9,1,2,5,24,0,162,0
41184,0,1,1,5,0,0,0,0,7,0,383,0,26,0,1,5,24,0,162,0
41185,1,5,1,6,0,2,0,0,7,0,189,1,26,0,1,5,24,0,162,0
41186,0,9,1,5,0,0,0,0,7,0,442,0,26,0,1,5,24,0,162,0

In [ ]:
vif_data = pd.DataFrame()

vif_data["Feature"] = x.columns

vif_data["VIF"] = [variance_inflation_factor(x.values,i) for i in range(len(x.columns))]
print(vif_data)

          Feature       VIF
0             age  1.246870
1             job  2.053474
2         marital  4.225747
3       education  3.996334
4         default  1.309857
5         housing  2.084841
6            loan  1.198313
7         contact  2.115738
8           month  4.189034
9     day_of_week  2.842466
10       duration  2.882795
11       campaign  1.602888
12       previous  1.223583
13  cons.conf.idx  4.172368

In [ ]:
data = data.drop(['emp.var.rate'], axis = 1)

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
col_list = []
for col in data.columns:
  if((data[col].dtype != 'object') & (col != 'y')):
    col_list.append(col)

x = data[col_list]
vif_data = pd.DataFrame()
vif_data["Feature"] = x.columns
vif_data["VIF"] = [variance_inflation_factor(x.values,i) for i in range(len(x.columns))]
print(vif_data)

           Feature         VIF
0              age    1.281071
1              job    2.100890
2          marital    5.052112
3        education    4.527894
4          default    1.386068
5          housing    2.208697
6             loan    1.207306
7          contact    3.391408
8            month    5.419607
9      day_of_week    3.090681
10        duration    3.211753
11        campaign    1.691347
12           pdays   34.413650
13        previous    1.566858
14        poutcome    8.915104
15  cons.price.idx   16.503067
16   cons.conf.idx    5.003107
17       euribor3m  130.855035
18     nr.employed   83.290921

In [ ]:
data = data.drop(['euribor3m'], axis = 1)

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
col_list = []
for col in data.columns:
  if((data[col].dtype != 'object') & (col != 'y')):
    col_list.append(col)

x = data[col_list]
vif_data = pd.DataFrame()
vif_data["Feature"] = x.columns
vif_data["VIF"] = [variance_inflation_factor(x.values,i) for i in range(len(x.columns))]
print(vif_data)

           Feature        VIF
0              age   1.279176
1              job   2.100365
2          marital   5.050676
3        education   4.527757
4          default   1.383269
5          housing   2.208518
6             loan   1.207290
7          contact   3.387303
8            month   5.396900
9      day_of_week   3.089811
10        duration   3.211307
11        campaign   1.691016
12           pdays  31.087208
13        previous   1.565389
14        poutcome   8.796472
15  cons.price.idx  14.452213
16   cons.conf.idx   4.942682
17     nr.employed  19.684498

In [ ]:
data = data.drop(['pdays'], axis = 1)

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
col_list = []
for col in data.columns:
  if((data[col].dtype != 'object') & (col != 'y')):
    col_list.append(col)

x = data[col_list]
vif_data = pd.DataFrame()
vif_data["Feature"] = x.columns
vif_data["VIF"] = [variance_inflation_factor(x.values,i) for i in range(len(x.columns))]
print(vif_data)

           Feature        VIF
0              age   1.265688
1              job   2.084539
2          marital   4.629679
3        education   4.330151
4          default   1.381458
5          housing   2.148198
6             loan   1.204351
7          contact   3.283169
8            month   4.352295
9      day_of_week   3.037389
10        duration   3.077715
11        campaign   1.673759
12        previous   1.521150
13        poutcome   8.290763
14  cons.price.idx  13.951869
15   cons.conf.idx   4.709117
16     nr.employed  13.136183

In [ ]:
data = data.drop(['cons.price.idx'], axis = 1)

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
col_list = []
for col in data.columns:
  if((data[col].dtype != 'object') & (col != 'y')):
    col_list.append(col)

x = data[col_list]
vif_data = pd.DataFrame()
vif_data["Feature"] = x.columns
vif_data["VIF"] = [variance_inflation_factor(x.values,i) for i in range(len(x.columns))]
print(vif_data)

          Feature       VIF
0             age  1.264866
1             job  2.082648
2         marital  4.620344
3       education  4.325550
4         default  1.376907
5         housing  2.148069
6            loan  1.204187
7         contact  2.139218
8           month  4.342654
9     day_of_week  3.035231
10       duration  3.057601
11       campaign  1.671922
12       previous  1.416851
13       poutcome  7.552832
14  cons.conf.idx  4.593582
15    nr.employed  9.304515

In [ ]:
data = data.drop(['nr.employed'], axis = 1)

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
col_list = []
for col in data.columns:
  if((data[col].dtype != 'object') & (col != 'y')):
    col_list.append(col)

x = data[col_list]
vif_data = pd.DataFrame()
vif_data["Feature"] = x.columns
vif_data["VIF"] = [variance_inflation_factor(x.values,i) for i in range(len(x.columns))]
print(vif_data)

          Feature       VIF
0             age  1.258236
1             job  2.064936
2         marital  4.448348
3       education  4.133106
4         default  1.316600
5         housing  2.110359
6            loan  1.200185
7         contact  2.117315
8           month  4.316673
9     day_of_week  2.903271
10       duration  3.002872
11       campaign  1.621665
12       previous  1.329643
13       poutcome  7.020056
14  cons.conf.idx  4.548654

In [ ]:
data = data.drop(['poutcome'], axis = 1)

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
col_list = []
for col in data.columns:
  if((data[col].dtype != 'object') & (col != 'y')):
    col_list.append(col)

x = data[col_list]
vif_data = pd.DataFrame()
vif_data["Feature"] = x.columns
vif_data["VIF"] = [variance_inflation_factor(x.values,i) for i in range(len(x.columns))]
print(vif_data)

          Feature       VIF
0             age  1.246870
1             job  2.053474
2         marital  4.225747
3       education  3.996334
4         default  1.309857
5         housing  2.084841
6            loan  1.198313
7         contact  2.115738
8           month  4.189034
9     day_of_week  2.842466
10       duration  2.882795
11       campaign  1.602888
12       previous  1.223583
13  cons.conf.idx  4.172368

In [ ]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,previous,cons.conf.idx,y
0,39,3,1,0,0,0,0,1,6,1,261,0,0,16,0
1,40,7,1,3,1,0,0,1,6,1,149,0,0,16,0
2,20,7,1,3,0,2,0,1,6,1,226,0,0,16,0
3,23,0,1,1,0,0,0,1,6,1,151,0,0,16,0
4,39,7,1,3,0,0,2,1,6,1,307,0,0,16,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41181,20,0,1,6,0,2,0,0,7,0,281,0,0,0,1
41182,12,10,2,0,0,2,0,0,7,0,112,0,1,0,0
41184,29,1,1,5,0,0,0,0,7,0,383,0,0,0,0
41185,39,5,1,6,0,2,0,0,7,0,189,1,0,0,0
41186,27,9,1,5,0,0,0,0,7,0,442,0,0,0,1

**RFE**

Recurssive Feature Elimination

In [ ]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [ ]:
x

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,previous,cons.conf.idx
0,39,3,1,0,0,0,0,1,6,1,261,0,0,16
1,40,7,1,3,1,0,0,1,6,1,149,0,0,16
2,20,7,1,3,0,2,0,1,6,1,226,0,0,16
3,23,0,1,1,0,0,0,1,6,1,151,0,0,16
4,39,7,1,3,0,0,2,1,6,1,307,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41181,20,0,1,6,0,2,0,0,7,0,281,0,0,0
41182,12,10,2,0,0,2,0,0,7,0,112,0,1,0
41184,29,1,1,5,0,0,0,0,7,0,383,0,0,0
41185,39,5,1,6,0,2,0,0,7,0,189,1,0,0
41186,27,9,1,5,0,0,0,0,7,0,442,0,0,0

In [ ]:
data["y"].unique()

array([0, 1])

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()

In [ ]:
rfe = RFE(model)

In [ ]:
rfe.fit(x,y)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

RFE(estimator=LogisticRegression())

In [ ]:
rfe.support_  # .support_ will give the importance in boolean form True - Keep the colum False - Drop the column

array([False, False,  True,  True,  True, False, False,  True, False,
       False, False,  True,  True,  True])

In [ ]:
selected_indices = [i for i, data in enumerate(rfe.support_)if data == True]
selected_indices


for i,data in enumerate(rfe.support_):
  if data==True:
    print(i,data)

2 True
3 True
4 True
7 True
11 True
12 True
13 True

In [ ]:
column_names = x.columns

In [ ]:
selected_columns = [column_names[i] for i in selected_indices]

In [ ]:
selected_columns

['age', 'marital', 'education', 'default', 'contact', 'campaign', 'previous']

In [ ]:
a = [1,2,3,4]

for i,j in enumerate(a):
  print(i,j)

0 1
1 2
2 3
3 4

In [ ]:
x = x.loc[:,['age', 'marital', 'education', 'default', 'contact', 'campaign', 'previous']]

In [ ]:
x

       age  marital  education  default  contact  campaign  previous
0        1        1          0        0        1         0         0
1        1        1          3        1        1         0         0
2        0        1          3        0        1         0         0
3        0        1          1        0        1         0         0
4        1        1          3        0        1         0         0
...    ...      ...        ...      ...      ...       ...       ...
41181    0        1          6        0        0         0         0
41182    0        2          0        0        0         0         1
41184    0        1          5        0        0         0         0
41185    1        1          6        0        0         1         0
41186    0        1          5        0        0         0         0

[35176 rows x 7 columns]

In [ ]:
y

0        0
1        0
2        0
3        0
4        0
        ..
41181    1
41182    0
41184    0
41185    0
41186    1
Name: y, Length: 35176, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size = 0.75, random_state = 199)

In [ ]:
x_train

       age  marital  education  default  contact  campaign  previous
5314     0        1          5        0        1         1         0
7214     0        2          5        0        1         2         0
12316    0        1          6        0        1         1         0
24339    1        1          6        0        0         0         0
25648    0        1          6        0        0         0         0
...    ...      ...        ...      ...      ...       ...       ...
29329    0        2          7        0        0         3         0
11574    0        1          0        1        1         2         0
16759    0        0          3        0        0         0         0
12259    0        0          6        1        1         0         0
32488    0        0          3        0        0         1         1

[26382 rows x 7 columns]

In [ ]:
y_train

5314     0
7214     0
12316    0
24339    0
25648    0
        ..
29329    1
11574    0
16759    0
12259    0
32488    0
Name: y, Length: 26382, dtype: int64

In [ ]:
x_test

       age  marital  education  default  contact  campaign  previous
34967    1        1          2        1        0         0         1
24443    0        1          3        0        0         0         0
4648     0        1          1        1        1         4         0
4088     0        1          2        1        1         0         0
37683    0        1          6        0        0         1         0
...    ...      ...        ...      ...      ...       ...       ...
8401     0        0          0        0        1         2         0
33717    0        2          6        0        0         0         0
27370    0        1          6        0        0         0         0
15661    0        2          6        0        0         2         0
8756     0        1          2        1        1         0         0

[8794 rows x 7 columns]

In [ ]:
y_test

34967    0
24443    0
4648     0
4088     0
37683    1
        ..
8401     0
33717    0
27370    0
15661    0
8756     0
Name: y, Length: 8794, dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression()

In [ ]:
lr.fit(x_train, y_train)

LogisticRegression()

In [ ]:
y_pred = lr.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
print("Accuracy Score of the mdoel is : ", accuracy_score(y_test,y_pred))

Accuracy Score of the mdoel is :  0.9242665453718445

In [ ]:
confusion_matrix(y_test,y_pred)

array([[8100,   28],
       [ 638,   28]])